# Только вы (узнать id: @userinfobot): необязательно
# ALLOWED_USER_ID=123456789

API_ID=123456778
API_HASH=ahjsgdhmasjd,masdasd
BOT_TOKEN=680925asdbnasdhmasdasdasdo
PUBLIC_BASE_URL=https://43asdasdasd.ngrok-free.app
# HTTP (локально и в Docker — один и тот же порт)
PORT=8070

# SQLite (по умолчанию tgvideoplayer.db рядом с main.py)
# SQLITE_PATH=/abs/path/custom.db

# Сессия Telethon (по умолчанию рядом с main.py)
# SESSION_DIR=/abs/path
